<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Simple Website Design</title>
  
  <link rel="stylesheet" href="{{url_for('static', filename="style.css")}}">
</head>
<body>
  <div class="container">
    <nav>
      <div class="logo">
        <a href="#">Recipe<span>Book</span></a>
      </div>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Recipe</a></li>
        <li><a href="#">Cusines</a></li>
        <li><a href="#">Help</a></li>
      </ul>
      <div class="buttons">
        <a href="" class="login">Log in</a>
        <a href="{{url_for('signup')}}" class="btn">Register</a>
      </div>
    </nav>
    <div class="content">
      <h2>Search<br>Recipes Here!!</h2>
      <p>What do you want to search?</p></div>
       <input type="search" placeholder="search Here" >
    <div class="link">
      <a href="#" class="search">Search</a>
    </div>
  </div>
</body>
</html>